<template>
  <div :class="'col-'+cardSize">
    <div class="card" :style="ifRead()">
      <img :src="getImg(news)" :alt="news.title" class="card-img-top">
      <div class="card-body">
        <div class="card-title">{{ news.title }}</div>
        <div class="card-text">{{ news.desc }}</div>
      </div>
      <div class="card-footer">
        <router-link :to="{name: routName, params: { id: news.id, newPar: news }}" class="card-link">more</router-link>
      </div>
    </div>

  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  import defImg from '../assets/js/mixin_defaultImg'

  export default {
    name: "NewsCard",
    mixins: [ defImg ],
    props: {
      news: {
        type: Object,
        required: true
      },
      routName: {
        type: String,
        default: 'single-news'
      },
      cardSize: {
        type: Number,
        default: 4
      }
    },
    computed: {
      // isRead() {
      //   return this.$store.getters.GET_IS_READ(this.news.id)
      // }
      ...mapGetters({
        isRead: 'GET_IS_READ'
      })
    },
    methods: {
      ifRead() {
        return this.isRead(this.news.id) && !([ 'r-news', 'r-news-with', 'news-with-single' ].includes(this.$route.name)) ? 'opacity:.5' : ''
      }
    }
  }
</script>

<style lang="sass">

</style>