<template>
  <div class="about">
    <h1><a href="https://vuex.vuejs.org/ru/">Vuex это...</a></h1>
    <p>Vuex — паттерн управления состоянием + библиотека для приложений на Vue.js. Он служит централизованным хранилищем данных для всех компонентов приложения с правилами, гарантирующими, что состояние может быть изменено только предсказуемым образом. Vuex интегрируется с официальным расширением vue-devtools, предоставляя «из коробки» такие продвинутые возможности, как «машину времени» для отладки и экспорт/импорт слепков состояния данных</p>
  </div>
  
</template>

<script>
export default {
  name: "About"
}
</script>

<style lang="sass">

</style>