<template>
  <div id="news">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>News</h1>
        </div>
        <template v-if="!isLoaded">load...</template>
        <template v-else>
          <card v-for="(item, i) in news" :key="'news_'+i" :news="item" rout-name="v-single-news" />
        </template>
      </div>
    </div>
  </div>

</template>

<script>
  /* Доступ к хранилющу можно получить через свойство $store
  * $store.state - получить состояние
  * $store.commit( mutation_name, payload ) - вызов мутации
  * $store.dispatch( action_name, payload ) - вызов действия
  * $store.getters[ getters_name ]( param ? ) - вызов геттера предостваляется без вспомагательного метода.
  *     В нутри обьекта getters хранятся все геттеры.
  *     ( param ? ) - если геттер возвращает Функцию то вызов происходит с скобками и если нужно то с параметрами
  *  */

  /*
  * так же есть функции "помошники" - mapState, mapGetters, mapMutations, mapActions
  * Принимают обьект/массив
  *  */
  import { mapState, mapActions } from 'vuex'

  import Card from '@/components/NewsCard'

  export default {
    name: "News",
    components: { Card },
    data() {
      return {
        /* some data */
      }
    },
    beforeMount() {
      /* вызов действия с хранилища */
      this.getNews()
    },
    computed: {
      /* оператор спред(троеточие) - "распоковывает" обьект и помещает все свойтва в обьект родителя */
      /* mapState - принимает обьект с методами возвращающими состояние */
      ...mapState({
        isLoaded: state => state.isAllLoaded,
        onLoadError: ({ onLoadError }) => onLoadError
      //  news: ({ allNews }) => allNews
      }),
      news() {
      /* получение состояния при помощи обьекта $store */
        return this.$store.state.allNews
      }
    },
    methods: {
      /* mapActions - принимает обьект/массив. В случаи массива передаютса названия действий которые будут использоваться в компоненте.
      * В случаии обьекта действия можна переименовать. */
      ...mapActions({
        getNews: 'GET_NEWS'
      })
    }
  }

</script>

<style lang="sass">

</style>