<template>
  <div class="container">
    <div class="row">
      <div class="col-4" v-for="(album, i) in albums" :key="`album_${i}`">
        <router-link
            :to="{
              name: 'composition',
              params: {
                comp: album.name.replace(' ', '_')
              }
            }">{{ album.name }}</router-link>
      </div>
      <div class="col-12">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: "LItem",
    computed: {
      albums() {
        return this.albumsFn()(this.$route.params.item)
      }
    },
    methods: {
      ...mapGetters({
        albumsFn: 'GET_ALBUMS'
      })
    },
  }
</script>

<style scoped>

</style>