<template>
  <div class="container">
    <div class="row">
      <div class="col-4" v-for="(item, i) in artists" :key="`artist_${i}`" >
        <router-link
            :to="{
              name: 'list-item',
              params: {
                item: item.index,
              }
            }">
          {{ item.name }}
        </router-link>
      </div>
    </div>
  </div>

</template>

<script>
  import { mapState, mapActions } from 'vuex'

  export default {
    name: "List",
    created() {
      /* запуск метода загрузки данных в хуке жизненного цикла компонента */
      this.getArtists()
    },
    computed: {
      /* получение состояния */
      ...mapState({
        artists: ({ music }) => music
      })
    },
    methods: {
      /* получение метод (экшин) для загрузки данных */
      ...mapActions({
        getArtists: 'GET_ALL_MUSIC'
      })
    },
  }
</script>

<style scoped>

</style>