<template>
  <div class="container">
    <div class="row">
      <div class="col-4" v-for="(comp, i) in compos" :key="`comp_${i}`">
        <div class="row">
          <div class="col-6">{{ comp.name }}</div>
          <div class="col-6">{{ comp.duration }}</div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: "Composition",
    computed: {
      compos() {
        return this.getComp()(this.$route.params.item, this.$route.params.comp);
      }
    },
    methods: {
      ...mapGetters({
        getComp: 'GET_ALBUM'
      })
    },
  }
</script>

<style scoped>

</style>